.caixa{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caixa a{
  text-decoration: none;
  color: #f00;
}
.caixa a:hover{
  background-color: #f00;
  color:aliceblue;
}
.texto{
  color: #9b9b9b;
  font-size: 50px
}
.botao{
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  color:rgb(0, 0, 0);
  font-size: 20px;
  display:flex;
  flex-direction: column;
}
